@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    font-family: Consolas,"courier new";
    color: white;
    background-color: #1c1c1d ;
    padding: 2px;
    font-size: 105%;
  }